<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   <servlet>
  <display-name>indexServlet</display-name>
  <servlet-name>indexServlet</servlet-name>
  <servlet-class>com.xiuson.servlet.IndexServlet</servlet-class>
  <init-param>
   <param-name>/IndexServlet</param-name>
   <param-value>indexServlet</param-value>
  </init-param>
 </servlet>
 <servlet>
  <servlet-name>articleServlet</servlet-name>
  <servlet-class>com.xiuson.servlet.ArticleServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>wordServlet</servlet-name>
  <servlet-class>com.xiuson.servlet.WordServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>friendServlet</servlet-name>
  <servlet-class>com.xiuson.servlet.FriendServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>LogonServlet</servlet-name>
  <servlet-class>com.xiuson.servlet.LogXServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>forwardServlet</servlet-name>
  <servlet-class>com.xiuson.servlet.ForwardServlet</servlet-class>
 </servlet>
 
 <servlet>
  <servlet-name>defaultServlet</servlet-name>
  <servlet-class>com.xiuson.servlet.DefaultServlet</servlet-class>
 </servlet> 
 <servlet>
  <servlet-name>ipServlet</servlet-name>
  <servlet-class>com.xiuson.servlet.IPServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>indexServlet</servlet-name>
  <url-pattern>/IndexServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>articleServlet</servlet-name>
  <url-pattern>/ArticleServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>wordServlet</servlet-name>
  <url-pattern>/WordServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>friendServlet</servlet-name>
  <url-pattern>/FriendServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LogonServlet</servlet-name>
  <url-pattern>/LogonServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>forwardServlet</servlet-name>
  <url-pattern>/ForwardServlet</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>defaultServlet</servlet-name>
  <url-pattern>/DefaultServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ipServlet</servlet-name>
  <url-pattern>/IPServlet</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/front/error/error.jsp</location>
 </error-page>
</web-app>
